<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/writing"
        android:label="@string/app_name"
        android:roundIcon="@drawable/writing"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bulletjournal"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bulletjournal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".LoginActivity" android:theme="@style/Theme.Bulletjournal" />
        <activity android:name=".RegisterActivity" android:theme="@style/Theme.Bulletjournal" />
        <activity android:name=".HomeActivity" android:theme="@style/Theme.Bulletjournal" />
        <activity android:name=".AddNoteActivity" android:theme="@style/Theme.Bulletjournal" />

    </application>
</manifest>